@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 1000px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #8CCCFD;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #006FB9;
}

.description {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.btn {
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;

}

.btn-primary {
    background-color: #006FB9;
    border: 1px solid #006FB9;
    transition: background-color .5s;
}

.btn-second {
    background-color: #006FB9;
    border: 1px solid #006FB9;
    transition: background-color .5s;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    font-weight: 600;
    font-size: medium;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    
}

.icon-modify {
    height: 25px;
    padding-right: 5%;
    padding-left: 4%;
}

.icon-voltar {
    position: absolute;
    top: 3%;
    left: 1%;
}