/* :root {
  --card-kpi-width: 175px;
} */

body {
  margin: 0;
  padding: 0;
}

.container-dash {
  height: 768px;
  margin: 0 0 0 300px;
}

.container-graficos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.container-menu {
  position: fixed;
  width: 280px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0061ba;
  color: white;
  padding: 0 10px 0 0;
}

#exit-icon {
  padding-top: 135px;
}

.container-list ul li a {
  width: 100%;
  display: flex;
}

.list {
  padding-left: 20px;
  padding-bottom: 26px;
  display: flex;
  text-align: center;
}

#list-active {
  font-weight: bold;
}

.outside-icon {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 2.7em;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
}

.circle {
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.icon {
  color: black;
  font-size: 1.3em;
  display: flex;
}

.list-title {
  padding-left: 10px;
  font-size: 1em;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

/* estilos botões ver mais */
.verMais1 button,
.verMais2 button,
.verMais3 button {
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin-top: 5px;
  width: 80px;
  height: 60%;
  border-radius: 10px;
  text-align: center;

  border: none;
  outline: none;
}

/* Define as regras para o título do botão */
.container-title-button h1 {
  margin: 0;
  font-size: 24px;
}

/* Define as regras para a barra de pesquisa */
.container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-page {
  width: 100%;
}

.barraPesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barraPesquisa {
  width: 280px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.barraPesquisa input {
  border: none;
}

#search-circle-outline {
  font-size: 1.8em;
}


/* Define as regras para o botão de nova máquina */
.novaMaquina {
  display: flex;
  justify-content: center;
}

.novaMaquina button {
  background-color: #4c77af;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.span-mais {
  padding-left: 5px;
  font-size: 1.8em;
  font-weight: 500;
}

/* Estilos para os cards menores */
.card-container-menores {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-shadow {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 14px;
  border-radius: 10px;
}

.container-cards {
  flex-basis: calc(30% - 2vw);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
}

.card-menor {
  width: 30%;
  border-radius: 10px;
}

.card-menor h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-menor p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card-menor span {
  font-size: 1rem;
  font-weight: bold;
}

.card-menor1 {
  background-color: #fc7171;
}
.card-menor2 {
  background-color: #fddd7c;
}
.card-menor3 {
  background-color: #c9ff8c;
}


.card-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 10px;
}

.card {
  width: 30%;
  background-color: #8cccf0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grafico-container {
  width: 120px;
}

#grafico1,
#grafico2,
#grafico3 {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
}

.btn-ver-mais {
  border: none;
  background-color: #5eacd2;
  padding: 10px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 0.89em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
