body {
  margin: 0;
  padding: 0;
}

.container-dash {
  height: 768px;
  margin: 0 0 0 285px;
}

.container-graficos {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.container-menu {
  position: fixed;
  width: 280px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0061ba;
  color: white;
  padding: 0 10px 0 0;
}

#exit-icon {
  padding-top: 135px;
}

.container-list ul li a {
  width: 100%;
  display: flex;
}

.list {
  padding-left: 20px;
  padding-bottom: 26px;
  display: flex;
  text-align: center;
}

#list-active {
  font-weight: bold;
}

.outside-icon {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 2.7em;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
}

.circle {
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.icon {
  color: black;
  font-size: 1.3em;
  display: flex;
}

.list-title {
  padding-left: 10px;
  font-size: 1em;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}


.container-title-button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container-title-button, h1 {
  display: flex;
  font-size: 1.6em;
  font-weight: 500;
}

/* Define as regras para a barra de pesquisa */
.container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-page {
  width: 100%;
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
}

.container-kpi-geral {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 94px;
}

.kpi-geral {
  background-color: #8cccf0;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.kpi-geral p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 7.5px 15px;
}

.content-kpi-geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7eef37a;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 5px 0px;
}

.p-kpi-geral p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 0.9em;
}


/* Estilos para os cards menores */
.card-container-menores {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-shadow {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 25px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.container-cards {
  flex-basis: calc(30% - 2vw);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
}

.container-cards-emergencias {
  width: 100%;
  display: flex;

  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card-menor {
  width: 30%;
  border-radius: 10px;
}

.titulo  h2{
  font-weight: 400;
}

.container-cc {
  display: flex;
  justify-content: center;
}

.container-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 35px;
  border-radius: 10px 10px 0px 0px;
  
  background-color: #5eacd2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.group-subtitles {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Legendas  */
.text-kpi {
  padding-left: 10px;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

.circle-kpi {
  height: 22px;
  width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.green {
  background-color: #3cb600;
}

.yellow {
  background-color: #ffcd56;
}

.red {
  background-color: #e10000;
}

.orange {
  background-color: #ff8c00;
}

.card-menor h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-menor p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card-menor span {
  font-size: 1rem;
  font-weight: bold;
}

.card-menor1 {
  background-color: #fc7171;
}
.card-menor2 {
  background-color: #fddd7c;
}
.card-menor3 {
  background-color: #c9ff8c;
}

.card {
  width: 32%;
  height: 490px;
  background-color: #8cccf0;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-scroll-detalhamento {
  overflow: scroll;
}

.card-contagem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7eef37a;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 7.5px 15px;
  margin-bottom: 12px;
  top: 14px;
}

.card-contagem .contagem {
  font-size: 1.1em;
  padding-left: 25px;
}

.card-contagem span {
  font-size: 0.9em;
}

.container-maquina-detalhamento {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: solid 1px #000;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

.titulo-detalhamento {
  font-size: 0.9em;
  font-weight: 800;
  margin-bottom: 12px;
}

#p-sem-maquinas-alerta,
#p-sem-maquinas-critico,
#p-sem-maquinas-perigo {
  display: none;
  font-size:0.9em;
  margin-top: 15px;
}

.contagem {
  font-weight: 700;
  font-size: 1em;
}

.container-maquina-detalhamento {
  font-size: 1em;
  background-color: #d9d9d9;
  display: flex;
}

.componentes {
  font-size: 0.9em;
  padding-left: 20px;
}

#eye-outline {
  font-size: 1.2em;
}

.btn-mais {
  padding-left: 55px;
}

.btn-mais button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 25px;
  padding: 2px;
  background-color: #5eacd2;
  border: solid 1.5px #000;
  border-radius: 10px;
}

.titulo-maquina-detalhamento {
  font-size: 0.9em;
  display: flex;
  align-items: start;
}

.titulo-maquina-detalhamento a {
  font-weight: 500;
  color: #000;
}
.text-card-kpi {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.grafico-container {
  width: 120px;
}

#grafico1,
#grafico2,
#grafico3 {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
}

.btn-ver-mais {
  border: none;
  background-color: #5eacd2;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 0.89em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
