body {
  background-color: #8ccbf049;
}

:root {
  --card-kpi-width: 175px;
}

.container-menu {
  position: fixed;
  width: 280px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0061ba;
  color: white;
  padding: 0 10px 0 0;
}

#exit-icon {
  padding-top: 135px;
}

.container-list ul li a {
  width: 100%;
  display: flex;
}

.list {
  padding-left: 20px;
  padding-bottom: 26px;
  display: flex;
  text-align: center;
}

#list-active {
  font-weight: bold;
}

.outside-icon {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 2.7em;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
}

.circle {
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.icon {
  color: black;
  font-size: 1.3em;
  display: flex;
}

.list-title {
  padding-left: 10px;
  font-size: 1em;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

/* Títulos e botões */
.container-title {
  width: fit-content;
  /* width: calc(100% - 300px); */
  z-index: -1;
  margin: 0 0 15px 300px;
}

.container-title-button {
  display: flex;
  margin-top: 15px;
}

.container-title,
h1 {
  display: flex;
  font-size: 1.6em;
  font-weight: 500;
}

.container-title span {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 12px;
}

.container-button {
  margin-top: auto;
  background-color: #8cccf0;

  display: flex;
  justify-content: end;
  margin-left: 5px;
  padding: 5px;
  border-radius: 20px;
}

.container-button button {
  background: none;
  border: none;

  font-size: 1.3em;
  display: flex;
  cursor: pointer;
}

/* Conteúdos de KPIs, Gráficos e Alertas */
.container-all {
  width: calc(100% - 280px);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

/* Conteúdo  */
.container-content {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}

/* Legenda das KPIs */


.circle-kpi {
  width: 100%;
  height: 22px;
  width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
}

.blue {
  background-color: #0061ba;
}

.cyan {
  background-color: #36a2eb;
}

.green {
  background-color: #3cb600;
}

.yellow {
  background-color: #ffcd56;
}

.red {
  background-color: #e10000;
}

/* Cards das KPIs */
.container-cards-kpi {
  display: flex;
  justify-content: space-between;
  width: 736px;
}

.card-kpi {
  width: var(--card-kpi-width);
  height: 204px;
  background-color: #8cccf0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-out-content li {
  width: 160px;
  display: flex;

  padding: 8px 5px 8px 5px;
}

.text-card-kpi {
  font-weight: 400;
}

.pop-out-content {
  display: none;
  z-index: 1;
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 5px;
}

.card-kpi:hover .pop-out-content {
  display: flex;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 20vh;
  width: 25vw;
}

/* Menu dos gráficos */
.menu-graphics {
  margin-top: 40px;

  width: calc(2 * var(--card-kpi-width) + 12px);

  background-color: #8cccf0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.content-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-menu-chart {
  background: none;
  border: none;
  cursor: pointer;
}

.container-general-chart {
  height: 335px;
  width: calc(100vw - 630px);
  background-color: #8cccf0;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}

#btn-menu-cpu,
#btn-menu-memoria,
#btn-menu-disco,
#btn-menu-rede {
  background-color: #5eacd2;
  padding: 8px;
  border-radius: 20px;
}

#btn-menu-cpu {
  background-color: #0070ba;
}

/* Quadro de Alertas */
.container-alerts {
  width: 100%;
  height: 590px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #8cccf0;
  border-radius: 10px;
  padding: 17px 25px;
}

.container-alerts span {
  font-weight: 500;
}

.table-titles {
  background-color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table-titles span {
  font-weight: 300;
}

.historic {
  width: 234px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 5px;
  
  overflow: auto;
}

.card-historic {
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.card-historic p {
  font-size: 0.9em;
}