body {
  background-color: #8ccbf049;
}
.container-menu {
  position: fixed;
  width: 280px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0061ba;
  color: white;
  padding: 0 10px 0 0;
}

#exit-icon {
  padding-top: 135px;
}

.container-list ul li a {
  width: 100%;
  display: flex;
}

.list {
  padding-left: 20px;
  padding-bottom: 26px;
  display: flex;
  text-align: center;
}

#list-active {
  font-weight: bold;
}

.outside-icon {
  display: flex;
  justify-content: end;
  color: white;
  font-size: 2.7em;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px;
}

.circle {
  height: 32px;
  width: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.icon {
  color: black;
  font-size: 1.3em;
  display: flex;
}

.list-title {
  padding-left: 10px;
  font-size: 1em;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

/* Títulos e botões */
.container-title {
  display: flex;
  margin-left: 300px;
  justify-content: center;
}

.container-title-button {
  display: flex;
  margin-top: 15px;
}

.container-title,
h1 {
  display: flex;
  font-size: 1.6em;
  font-weight: 500;
}

.container-title span {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 12px;
}

.container-button {
  margin-top: auto;
  background-color: #8cccf0;

  display: flex;
  justify-content: end;
  margin-left: 5px;
  padding: 5px;
  border-radius: 20px;
}

.container-button button {
  background: none;
  border: none;

  font-size: 1.3em;
  display: flex;
  cursor: pointer;
}

/* Conteúdo  */
.container-all {
  width: calc(100% - 270px);
  margin-left: 270px;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  flex-direction: column;
  align-items: center;
}

.container-content {
  display: flex;
  flex-direction: column;

  width: 60%;
  height: 35px;
  border-radius: 10px;
  
  background-color: #0061ba;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.group-subtitles {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Legendas  */
.text-kpi {
  padding-left: 10px;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

.circle-kpi {
  height: 22px;
  width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 50%;
}

.green {
  background-color: #3cb600;
}

.yellow {
  background-color: #ffcd56;
}

.red {
  background-color: #e10000;
}

/* Alertas */
.container-alerts {
  width: 60%;
  height: auto;
  margin-top: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  gap: 20px;
}

.alerts {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #8cccf0;
  border-radius: 10px;
}

.title-machine {
  width: 100%;
  font-weight: 500;
  font-size: 1.2em;
  padding: 10px 0; 
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.log-details {
  font-weight: 500;
}

.container-text {
  display: flex;
  align-items: center;
}

hr {
  width: 100%;
  border: 1px solid black;
}

.log-phrase {
  padding: 10px;
}

.container-details {
  display: none;
  max-height: 180px;

  overflow: auto;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  padding: 0 20px;
}

.p-details {
  font-weight: 500;
  font-size: 0.9em;
  padding: 20px 0 5px 0;
}

#p-less-details,
#p-less-details-2,
#p-less-details-3 {
  display: none;
}

.details-button {
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-icon {
  font-size: 2.6em;
}

#arrow-up-1,
#arrow-up-2,
#arrow-up-3 {
  display: none;
}