.background-inical {
    width: 100%;
    height: 93vh;
    background: url("../assets/testde\ imagem\ de\ fundo2\ copiar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.background-inical h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    width: 750px;
    z-index: 0;
}

.slogan {
    margin: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo-empresa {
    font-size: 70px;
    font-family: "Poppins";
    font-weight: 700;
    color: #FFFFFF;
    width: 750px;
    z-index: 999;
}

/* Inicio da Home */
/* Apresentação da empresa */
.content-slogan {
    background: url("../assets/testde\ imagem\ de\ fundo\ copiar.jpg");
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.content h2 {
    text-align: start;
}

.content p {
    text-align: justify;
}

/* Nossos serviços */

.content-servicos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: auto;
    /* overflow-y: scroll;
    flex-wrap: nowrap; */
}

.content-servicos::-webkit-scrollbar {
    width: 6px;
}

.content-servicos::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.content-servicos::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 20px;

}

.content-servicos2 {
    display: flex;
    justify-content: space-around;
}

.caixa-quadrado {
    width: 346px;
    height: 386px;
    padding: 30px 30px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5% 0;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}

.caixa-quadrado .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 90%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    color: #989898;
}

/* Final servicos */
/* Final home */

/* Footer */
.footer {
    width: 100%;
    height: 20vh;
    background: rgba(140, 204, 253, 0.3);
}

.conteudo {
    height: 100%;
    width: 100%;
    padding: 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.redes-sociais {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.redes-sociais h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.redes-sociais p {
    margin-bottom: 0.3rem
}

@media screen and (max-width: 1200px) {
    .background-inical {
        transition: 1s;
        height: 30vh;
        background-size: contain;
    }

    .sobre-nos {
        width: 100%;
        text-align: center;
    }

    .imagem-hospital {
        display: none;
    }

    .content-servicos2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .caixa-quadrado {
        width: 100%;
        height: 250px;
        padding: 20px 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 3% 0;
    }

    .nossos-servicos{
        display: flex;
        flex-direction: column;
    }

    .nossos-servicos .content{  
        width: 100%;
    }

    .nossos-servicos h2{
        text-align: center;
    }

    .nossos-servicos img{
        width: 100%;
    }

    .footer {
        width: 100%;
        height: 6vh;
        background: rgba(140, 204, 253, 0.3);
    }
    
    .logo-header {
        width: 180px;
    }

    h2 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        font-weight: 300;
        color: #050505;
    }
}